.doctor-image img{
    height: 432px;
    position: relative; 
    top: -130px;
}
.appointment-container {
    height:350px;
    width:100%; 
    background-image: url('../../../images/chairBg.png');
    background-color: #3A4256;
    background-size: cover; 
}
.appointment-info{
    color: white;
}